.desc-link {
  text-decoration: underline blue;
}
.desc-link:hover {
  color: rgb(7, 252, 7);
}
.filters {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.drop-down {
  width: 40%;
}
.from-to {
  display: flex;
  gap: 20px;
  align-items: baseline;
}
.back-btn {
  background-color: #000;
  border: 1px solid #000;
}
.back-btn i {
  display: inline-block;
  margin: 0 5px;
}
