.ticket-details {
  border: 2px solid grey;
  width: 50%;
  margin: auto;
  border-radius: 15px;
}
.ticket-details > p {
  display: flex;
  margin-left: 25%;
}

.all-desc {
  width: inherit;
  margin: auto;
}
.all-desc li {
  list-style-type: disc;
}
