.ticket-details {
  border: 2px solid grey;
  margin: auto;
  border-radius: 15px;
}
.all-desc {
  width: inherit;
  margin: auto;
}
.all-desc li {
  list-style-type: disc;
}
.ticketsById {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.ticketsById.user-login {
  justify-content: normal;
}

.ticketsById.user-login h3 {
  flex: 1;
  text-align: center;
}
.back-btn {
  color: #fff;
}
.ticketsById h3 {
  font-size: 30px;
  color: #212529;
}

@media only screen and (max-width: 767px) {
  .ticketsById {
    display: block;
    position: relative;
  }
  .back-btn {
    font-size: 0;
  }
  .back-btn i {
    font-size: 15px;
  }
}
