.task-table {
  width: 100%;
}

.task-table tr td,
.task-table tr th {
  padding: 10px 5px;
  position: relative;
}
.table-pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.table-pagination span,
.table-pagination .prev-btn,
.table-pagination .next-btn {
  padding: 10px;
  background-color: beige;
  margin-inline: 2px;
  border-radius: 8px;
  color: #000;
}
.table-pagination .prev-btn,
.table-pagination .next-btn {
  background-color: #212529;
  border: none;
  color: #fff;
}
.table-pagination .selected {
  background-color: cadetblue;
  color: aquamarine;
}
.table-pagesize-dropdown {
  border-radius: 8px;
  padding: 10px;
}
.table-thead .sort-fields {
  display: flex;
  flex-direction: column;
}
.sort-fields span {
  cursor: pointer;
}
th {
  background-color: #055e94 !important;
  color: #fff;
}
.count{
  position: relative;
  display: inline-block;
}
.count p{
  position: absolute;
  margin: 0;
  right: -10px;
  top:-10px;
}


.count p b{
  background-color: #f00;
  color: #fff;
  padding: 5px;
  border-radius: 30px;
  width: 18px;
  height: 18px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-self: center
}