.chat-app {
  width: 100%;
  display: flex;
  height: 91.3vh;
}
/* sidebar */
.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.search {
  padding: 15px 10px;
  background-color: #085693;
  border-right: 1px solid grey;
  color: #fff;
}
.users-list {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  overflow: hidden;
  height: 100%;
}
.chat-tabs {
  border: 1px solid grey;
  display: flex;
  justify-content: space-evenly;
}
.chat-tabs span {
  cursor: pointer;
  flex: 1;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}

.chat-tabs span.active {
  background: #085693;
  color: #fff;
}
/* chatbox*/
.chatbox {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.resource-logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-header {
  background-color: #085693;
  padding: 8px 10px;
}
.chat-body {
  height: calc(100% - 120px);
  background-color: #eeeeee;
}
.chat-footer {
  background-color: #085693;
  padding: 7px;
  color: #fff;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .sidebar,
  .chatbox {
    width: 100%;
  }
}
