.add-user-container {
  width: 100%;
  margin: auto;
  border: 2px solid grey;
  padding: 15px;
}
.add-user-container .main-heading {
  background-color: #212529;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 7px;
  color: #fff;
}
.add-user-container div input {
  padding: 10px;
  border-radius: 10px;
}

.dates label b,
.genders label b {
  vertical-align: middle;
}

.submit-btn {
  margin: auto;
  width: 10%;
}
.input-filed {
  position: relative;
}
.input-filed .error {
  position: absolute;
  bottom: -20px;
}
