.chat-body-container {
  height: 100%;
  overflow: scroll;
}

.chat-body-container::-webkit-scrollbar {
  width: 0;
  /* Set the width of the scrollbar to 0 */
}

.chat-body-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Set the thumb color to transparent */
}

.main-right-container {
  direction: rtl;
}

.message-left {
  background: lightgrey;
  border: 1px solid lightgrey;
  width: fit-content;
  max-width: 80%;
  overflow-wrap: break-word;
  padding: 3px 10px 3px 3px;
  border-radius: 0 15px 15px 15px;
  margin-bottom: 7px;
  margin-left: 7px;
  display: flex;
}

.message-right {
  display: flex;
  justify-content: end;
  background: lightblue;
  border: 1px solid lightblue;
  width: fit-content;
  max-width: 80%;
  overflow-wrap: break-word;
  padding: 3px 10px 3px 3px;
  border-radius: 15px 0 15px 15px;
  margin-bottom: 7px;
  margin-right: 7px;
  direction: ltr;
}

.time-display {
  /* position: absolute; */
  margin-bottom: 0;
  font-size: 9px;
  margin-left: 10px;
  color: #888;
  display: flex;
  justify-content: flex-end;
  align-self: end;
}

.contact-render-info {
  display: flex;
  justify-content: space-around;
}