.chat-body-container {
  height: 100%;
  overflow: scroll;
}
.chat-body-container::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar to 0 */
}
.chat-body-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the thumb color to transparent */
}
.message-left {
  border: 1px solid rgb(88, 88, 88);
  background-color: #d1cfcf;
  border-radius: 15px 15px 15px 0;
  padding: 10px;
  margin: 10px 15px;
  display: flex;
  width: 50%;
  position: relative;
}

.message-right {
  border: 1px solid rgb(88, 88, 88);
  background-color: #c4c4c4;
  border-radius: 15px 15px 0 15px;
  padding: 10px;
  margin: 10px 15px;
  display: flex;
  margin-left: 400px;
  position: relative;
}
.time-display {
  position: absolute;
  right: 8px;
  bottom: -17px;
  font-size: 12px;
  color: #888;
}
.contact-render-info {
  display: flex;
  justify-content: space-around;
}
