.chat-footer-conatiner {
  height: 100%;
  display: flex;
  align-items: center;
}
.add-content {
  /* width: 10%; */
  margin-right: 10px;
}
.message-input {
  flex: 1;
  position: relative;
}
.message-input input {
  border-radius: 10px;
  background-color: #ebeef3;
  border: 1px solid grey;
  text-align: left;
}
.message-input input:focus {
  border: 1px solid #d0d2d4;
  outline: none;
}
.send-btn {
  margin-left: 10px;
}
/* add icon */
.popup {
  border: 1px solid #212529;
  background-color: #eeeeee;
  color: #212529;
  position: absolute;
  width: 130px;
  bottom: 50px;
  border-radius: 8px;
  height: 75px;
  text-align: center;
  padding: 5px;
}
.popup p:hover {
  cursor: pointer;
  background-color: #7d7e80;
  border-radius: 6px;
}
.circle-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #14a95f;
}

.circle-icon i {
  transform: rotate(45deg);
  color: rgb(243, 243, 243);
}
.circle-icon i:hover {
  cursor: pointer;
}

.sidebar-contacts {
  position: absolute;
  right: 0;
  top: -468px;
  width: 250px;
  height: 469px;
  background-color: #fff;
  border: 1px solid #888;
  overflow-y: auto;
}

.sidebar-content {
  padding: 10px;
}

.close-icon {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
}

.contact-list {
  display: flex;
  justify-content: space-around;
  border: 1px solid #888;
  margin: 10px;
  border-radius: 10px;
  background-color: #eeeeee;
}
.contact-list:hover {
  cursor: pointer;
  background-color: #7d7e80;
}
