.header-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.profile-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.header-navbar {
  width: 70%;
  display: flex;
  align-items: center;
}
.header-backbtn-wrapper {
  width: 10%;
  margin-left: 7px;
}
.header-backbtn-wrapper svg:hover {
  cursor: pointer;
}
.header-backbtn {
  width: 30px;
  height: 30px;
  background-color: #ebeef3; /* Circle background color */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
}

.header-backbtn span {
  color: #0a0a0a; /* Arrow color */
  font-size: 30px;
  line-height: 1;
  margin-bottom: 5px;
}
.header-backbtn:hover {
  cursor: pointer;
}
.profile-img {
  margin-right: 10px;
}
.header-user-name {
  color: white;
  display: flex;
  align-items: center;
}
.vertical-dots-header:hover {
  position: relative;
  cursor: pointer;
}
.popup-nav {
  position: absolute;
  right: 20px;
  top: 84px;
}
