.img-wrapper {
  width: 176px;
  border: 1px solid #000;
}
.img-wrapper:hover {
  cursor: pointer;
}
.content {
  margin-bottom: 10px;
  overflow: hidden;
}
.img-content {
  width: 174px;
  height: 100px;
  position: relative;
}
