.btns {
  display: flex;
  justify-content: flex-end;
}

.btns button {
  margin-right: 20px;
  margin-top: 20px;
}

.heading {
  color: rgb(196 200 201);
  margin-top: 10%;
  text-shadow: 2px 4px 20px rgb(19 202 202 / 44%);
}

.heading h3 {
  font-size: 50px;
  text-align-last: center;
}

.heading h1 {
  font-size: 90px;
  text-align-last: center;
}

.homemain {
  background-image: linear-gradient(
    black,
    rgba(0, 0, 0, 0.774),
    rgba(0, 0, 0, 0.616)
  );
  height: 100vh;
}
