.pwd-forgot {
  width: 40%;
  margin: auto;
}
.forgot-main {
  color: aliceblue;
  padding-top: 6%;
  min-height: 100vh;
  background-color: rgba(7, 7, 7, 0.733);
}
.pwd-forgot label,
.pwd-forgot button {
  display: block;
  margin: auto;
}
.pwd-forgot input {
  padding: 1%;
  width: 60%;
  margin: auto;
}
.go-back {
  text-decoration: underline;
  color: rgb(113, 241, 8);
}
.go-back:hover {
  cursor: pointer;
}
.error-message {
  color: red;
}
.forgotpage-password-icon {
  position: relative;
}
.forgotpage-password-icon span {
  position: absolute;
  top: 6px;
  font-size: larger;
  color: green;
  right: 21%;
  cursor: pointer;
}
