.date-label b {
  vertical-align: sub;
}
.sbt-btn {
  display: flex;
  justify-content: center;
}
.scc-msg,
.err-msg {
  text-align: center;
}

.popup-header{
  background: #343651;
    color: #fff;
}
.popup-header .btn-close{
  color: #FFF;
  background: #343651;
  position: relative;
}

.popup-header .btn-close::before{
  content: "X";
  font-weight: bold;
  color: #fff;
}