.client-details {
  display: flex;
}
.client-details .sub-details {
  width: 60%;
  border: 1px solid grey;
  border-radius: 10px;
}
.client-details .pie-chart-main {
  width: 40%;
  border: 1px solid grey;
  border-radius: 10px;
  margin-left: 4px;
}
