.login-page {
  width: 30%;
  margin: auto;
}
.login-page input {
  padding: 2%;
}
.login-main {
  color: aliceblue;
  padding-top: 6%;
  min-height: 100vh;
  background-color: rgba(7, 7, 7, 0.733);
}
.login-main > h1,
.logintext,
.login-page {
  text-align: center;
}
.error {
  color: red;
}
.anchorclick {
  text-decoration: underline;
  color: rgb(62, 62, 236);
}
.anchorclick:hover {
  cursor: pointer;
}
.logintext {
  font-family: monospace;
}
.password-icon {
  position: relative;
}
.password-icon span {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: larger;
  color: green;
}
