form {
  width: 30%;
  margin: auto;
}
.login-main {
  color: aliceblue;
  padding-top: 6%;
  min-height: 100vh;
  background-color: rgba(7, 7, 7, 0.733);
}
.error {
  color: red;
}
.anchorclick {
  text-decoration: underline;
  color: rgb(62, 62, 236); 
}
.anchorclick:hover {
  cursor: pointer;
}
