.group-list-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.group-list-container::-webkit-scrollbar {
  height: 12px;
}
.group-list-container::-webkit-scrollbar-thumb {
  background-color: rgb(180, 174, 174);
  border-radius: 6px;
}

.group-list-container::-webkit-scrollbar-track {
  background-color: #eeeeee;
}
.group-main {
  padding: 0px 10px;
}
.group {
  display: flex;
  border-bottom: 1px solid #f0e1e1;
  margin-bottom: 6px;
  padding: 5px 0px 5px 0px;
}
.group-img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.group-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.group-name {
  width: 45%;
  overflow: hidden;
}
.group-name p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
.time-stamp {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
