.search-box input {
  border-radius: 25px;
  width: 200px;
  background-color: #ebeef3;
  text-align: center;
  border: none;
}
.search-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.search-box input:focus {
  outline: none;
}
.font-size-icon {
  font-size: 24px;
}
.chat-back-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}
.chat-back-btn span {
  font-weight: bolder;
}
.chat-back-btn:hover {
  cursor: pointer;
}
@media only screen and (min-width: 2560px) {
  .font-size-icon {
    font-size: 39px;
  }
  .search-box input {
    width: 330px;
    height: 56px;
  }
}
