.user-list-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.user-list-container::-webkit-scrollbar {
  width: 9px;
}
.user-list-container::-webkit-scrollbar-thumb {
  background-color: #085693;
  border-radius: 6px;
}

.user-list-container::-webkit-scrollbar-track {
  background-color: #eeeeee;
}
.user-main {
  background-color: #cccccc47;
}
.user-main:hover {
  cursor: pointer;
}
.user {
  display: flex;
  border-bottom: 2px solid #fff;
  margin-bottom: 0px;
  padding: 5px 0px 5px 0px;
  position: relative;
}
.user-img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.user-img span {
  position: absolute;
  right: 8px;
  top: calc(50% - 8px);
}
.user-name {
  width: 45%;
  overflow: hidden;
}
.user-name p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
.user-time-stamp {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected-user {
  background-color: #085693;
  color: #fff;
}
.loader {
  padding-top: 27%;
  text-align: center;
}
