.main-nav {
  position: sticky;
  top: 0;
  z-index: 10;
}
.disabledDiv {
  pointer-events: none;
}
.user-newmsg-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: hsl(139.04deg 100% 40.78%);
}
.navbar-brand:hover {
  cursor: pointer;
}
.admin-status {
  margin-right: 4px;
}
/* .nav-item {
  color: aliceblue !important;
} */
.adduser {
  padding-top: 7px;
}
.navbar .nav-item a {
  color: rgb(223, 224, 224);
  text-decoration: none;
}
.navbar .nav-item a.active {
  color: #eee;
  font-weight: 700;
}
.navbar-brand b:hover {
  color: grey;
}
.Break-timer {
  color: aliceblue;
  padding-top: 7px;
  font-weight: 700;
  font-size: large;
}
.less-15 {
  color: rgb(6, 255, 6);
}
.less-20 {
  color: rgb(255, 166, 2);
}
.more-20 {
  color: rgb(255, 0, 0);
}
