.main-nav {
  position: sticky;
  top: 0;
  z-index: 10;
}
.disabledDiv {
  pointer-events: none;
}
.user-newmsg-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: hsl(139.04deg 100% 40.78%);
}
.navbar-brand:hover {
  cursor: pointer;
}
.admin-status {
  margin-right: 4px;
}
/* .nav-item {
  color: aliceblue !important;
} */

.navbar .nav-item a {
  color: rgb(223, 224, 224);
  text-decoration: none;
}

.navbar-brand b:hover,
.navbar .nav-item a:hover {
  color: #999;
}
.Break-timer {
  color: aliceblue;
  padding-top: 7px;
  font-weight: 700;
  font-size: large;
}
.less-15 {
  color: rgb(6, 255, 6);
}
.less-20 {
  color: rgb(255, 166, 2);
}
.more-20 {
  color: rgb(255, 0, 0);
}
.has-submenu {
  position: relative;
}
.has-submenu .submenu {
  display: none !important;
  position: absolute;
  top: 0;
  right: calc(100% + 1px);
  border: 1px solid #ddd;
  margin-right: 3px;
  box-shadow: 0px 1px 9px #0006;
  background-color: #fff;
}

.has-submenu:hover .submenu {
  display: block !important;
}

.submenu > .dropdown-item:nth-child(1)::after {
  content: "";
  border: 1px solid #ddd;
  width: 8px;
  height: 8px;
  position: absolute;
  background: #fff;
  transform: rotate(47deg);
  right: -4px;
  border-bottom: none;
  border-left: none;
}
.nav-btn {
  width: 1.5em;
  height: 1.5em;
}

.profile-modal {
  right: 0;
}
.nav-profile-img img {
  width: 25px;
  height: 25px;
}

.profile {
  border: 1px solid #b6b6b6;
  background-color: #fff;
  color: #000;
  padding: 10px;
}
.profile h6 {
  font-size: 24px;
  text-align: center;
}
.profile ul {
  list-style: none;
  padding: 0;
}

.profile ul li {
  padding: 5px;
  white-space: nowrap;
  font-size: 14px;
}
.profile ul li span {
  font-weight: bold;
}
.medium-size-image {
  text-align: center;
}
.profileimg-wrapper img {
  width: 100%;
  height: 100%;
}
.profileimg-wrapper i {
  position: absolute;
  right: 0px;
  color: red;
  font-size: 20px;
  bottom: 0;
}
.medium-size-image i:hover {
  cursor: pointer;
}
.edit-img-modal {
  width: 200px;
  height: 200px;
}
.edit-img-modal img {
  width: 100%;
  height: 100%;
}
.profileimg-wrapper {
  width: 80px;
  height: 80px;
  margin: auto;
  position: relative;
}
