.main-nav {
  position: sticky;
  top: 0;
  z-index: 10;
}
.disabledDiv {
  pointer-events: none;
}
.user-newmsg-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: hsl(139.04deg 100% 40.78%);
}
.navbar-brand:hover {
  cursor: pointer;
}
.admin-status {
  margin-right: 4px;
}
/* .nav-item {
  color: aliceblue !important;
} */

.navbar .nav-item a {
  color: rgb(223, 224, 224);
  text-decoration: none;
}
.navbar .nav-item a.active {
  color: #fff;
  /* font-weight: 700; */
}
.navbar-brand b:hover,
.navbar .nav-item a:hover {
  color: #999;
}
.Break-timer {
  color: aliceblue;
  padding-top: 7px;
  font-weight: 700;
  font-size: large;
}
.less-15 {
  color: rgb(6, 255, 6);
}
.less-20 {
  color: rgb(255, 166, 2);
}
.more-20 {
  color: rgb(255, 0, 0);
}
.has-submenu {
  position: relative;
}
.has-submenu .submenu {
  display: none !important;
  position: absolute;
  top: 0;
  right: calc(100% + 1px);
  border: 1px solid #ddd;
  margin-right: 3px;
  box-shadow: 0px 1px 9px #0006;
}

.has-submenu:hover .submenu {
  display: block !important;
}

.submenu > .dropdown-item:nth-child(1)::after {
  content: "";
  border: 1px solid #ddd;
  width: 8px;
  height: 8px;
  position: absolute;
  background: #fff;
  transform: rotate(47deg);
  right: -4px;
  border-bottom: none;
  border-left: none;
}
