@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App {
  position: relative;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
  max-height: 720px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.notification {
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  position: fixed;
  right: 35px;
  top: 50px;
}

.popup-notification {
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  position: fixed;
  right: 35px;
  top: 53px;
  z-index: 100;
  background: #fff;
}

.popup-notification .content {
  display: inline-block;
  width: 85%;
  max-width: 180px;
}

.popup-notification .close-icon {
  margin-left: 2px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  font-size: 14px;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 3px;
}
.popup-notification .line {
  animation: widthReducer 5s normal none;
  display: block;
}
.popup-notification .close-icon {
  cursor: pointer;
}
.notification.error > div,
.popup-notification.error,
.line.error {
  border: 2px solid #f00;
  border-radius: 11px;
  .close-icon {
    color: #f00;
  }
  .content {
    color: #f00;
  }
}
.notification.success > div,
.popup-notification.success,
.line.success {
  border: 2px solid #157347;
  border-radius: 11px;
  .close-icon {
    color: #157347;
  }
  .content {
    color: #157347;
  }
}
.notification.warning > div,
.popup-notification.warning,
.line.warning {
  border: 2px solid #ffa500;
  border-radius: 11px;
  .close-icon {
    color: #ffa500;
  }
  .content {
    color: #ffa500;
  }
}

.nav-item a.active {
  color: #999 !important;
  /* font-weight: 700; */
}
.w-80 {
  width: 80%;
}
.w-30 {
  width: 30%;
}
*::-webkit-scrollbar {
  width: 9px;
}
*::-webkit-scrollbar-thumb {
  background-color: #085693;
  border-radius: 6px;
}
.router-outlet::-webkit-scrollbar-thumb {
  background-color: #4b6a81;
  border-radius: 6px;
}
.table-scroll::-webkit-scrollbar-thumb {
  background-color: #81bae6;
  border-radius: 6px;
}
*::-webkit-scrollbar-track {
  background-color: #eeeeee;
}

@keyframes widthReducer {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.ful-content {
  display: flex;
  width: 100%;
}
.router-outlet {
  width: calc(100% - 240px);
  padding-left: 10px;
}
.footer {
  background: #212529;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 767px) {
  html,
  body {
    height: 99%;
  }
  .ful-content {
    flex-direction: column;
  }
  .router-outlet {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .side-bar {
    width: 100% !important;
    max-width: 100% !important;
    z-index: 2;
    position: sticky;
    top: 6%;
  }
  .footer {
    position: relative;
  }
}
