.feedback_form {
  width: 70%;
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 2%;
  background-color: #e7e4e4;
}

.feedback_form > * {
  margin-top: 20px;
  width: 100%;
}

.feedback_form label {
  text-align: right;
  margin-right: 10px;
}

.feedback_form textarea,
.feedback_form input[type="file"] {
  width: 100%;
}
.feedback_form Button {
  width: 40%;
  margin: auto;
}
.select-border {
  border-radius: 5px;
}
