.request-msgs {
  display: flex;
}
.request-msgs .request-sub-msg {
  width: 50%;
  border: 1px solid black;
}
.request-msgs .request-sub-msg h3 {
  border-bottom: 1px solid black;
  background-color: #055e94;
  color: #fff;
  padding: 15px 5px;
  font-size: 20px;
}
.request-msgs .request-sub-msg .request-content {
  display: flex;
  margin-right: 4px;
  justify-content: space-between;
}
.request-content-wrapper {
  display: flex;
  justify-content: space-around;
  border: 1px solid grey;
  align-items: center;
  margin: 2px;
  padding: 6px;
}
.request-content-wrapper div {
  flex: 1;
}
.message-request-content {
  text-align: left;
}
.message-seen-btn {
  padding: 2px;
}
.chatrequest-message {
  text-align: left;
}
.delivery-status {
  text-align: left;
}
.table-heading {
  position: relative;
  font-size: 38px;
}
.go-back {
  position: absolute;
  left: 0;
  top: 10px;
}

.go-back i {
  display: inline-block;
  margin: 0 5px;
}
