.request-msgs {
  display: flex;
}
.request-msgs .request-sub-msg {
  width: 50%;
  border: 1px solid black;
}
.request-msgs .request-sub-msg h3 {
  border-bottom: 1px solid black;
  background-color: grey;
}
.request-msgs .request-sub-msg .request-content {
  display: flex;
  margin-right: 4px;
  justify-content: space-between;
}
.request-content-wrapper {
  display: flex;
  justify-content: space-around;
  border: 1px solid grey;
  align-items: center;
  margin: 2px;
  padding: 6px;
}
.message-request-content {
  text-align: left;
}
.message-seen-btn {
  padding: 2px;
}
.chatrequest-message {
  text-align: left;
}
.delivery-status{
  text-align: left;
}
