.admin-details {
  max-width: 250px;
  margin: 4px;
  border-radius: 12px;
}
.heading-pic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.heading-pic b {
  color: dimgray;
}
.heading-pic img {
  width: 80px;
  height: 80px;
  margin: 8px;
}
.heading-pic h4 {
  padding-top: 7px;
  text-align: center;
}
.all-details h6 {
  font-size: 30px;
}
.all-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.pf img {
  width: 200px;
  height: 200px;
  border: 1px solid blue;
  border-radius: 10%;
}
.all-details ul {
  list-style-type: none;
  text-align: left;
  padding: 0px;
  font-weight: 600;
}
/* .active-not {
  display: inline-block;
  border: 1px solid white;
  padding: 8px;
  border-radius: 100%;
} */
.admin-btns {
  /* display: flex; */
  margin: 5px;
  border: 1px solid grey;
  width: 45.5%;
  border-radius: 10px;
  align-items: center;
}
.admin-btns button {
  color: aliceblue;
  margin: 5px;
  padding: 10px;
}
.admin-user-tabl img {
  width: 25%;
}
.column-to-reduce {
  width: 15%;
}
th {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.admin-pie-chart {
  display: flex;
}
.admin-pie-chart .admin-details {
  width: 60%;
}
.admin-pie-chart .pie-chart {
  width: 50%;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 4px;
  overflow: hidden;
}
.navbar-collapse {
  justify-content: end;
}
/* chat-button */
.nav-item .nav-link:hover {
  cursor: pointer;
  color: aliceblue;
}
/* nav dropdown */
.admin-logout-button .drop-down {
  margin: 0px 4px 0px 4px;
}
/* ranges */
.ranges {
  display: flex;
  justify-content: space-between;
}
.ranges .sub-ranges {
  border: 1px solid rgb(185 11 185);
  width: 54.5%;
  border-radius: 10px;
  margin: 4px;
}
.sub-ranges .main-container {
  /* width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; */
  margin: 6px;
  border-radius: 10px;
}
.circle {
  width: 20%;
}
.circle b {
  font-size: x-large;
  color: green;
}
.show-range {
  /* width: 60%; */
  justify-content: center;
  display: flex;
}
.show-range label {
  display: block;
  font-size: 20px;
}

.show-range .user-list {
  flex: 1;
}

.show-range .user-list button {
  overflow: hidden;
}
.show-range span {
  font-size: 20px;
  color: #fff;
}
.client-curser {
  cursor: pointer;
}
.pending-tickets-chart {
  border: 1px solid grey;
  border-radius: 2%;
  margin: 4px;
}
.rounded-circle:hover {
  cursor: pointer;
}
.profileimg-zoom img {
  width: 100%;
  height: 100%;
  text-align: center;
}
.recharts-legend-wrapper {
  width: 330px !important;
}

@media only screen and (max-width: 767px) {
  .show-range,
  .admin-pie-chart {
    flex-direction: column;
  }
  .dashboard-actions {
    flex-direction: column;
    width: 100%;
  }
  .admin-pie-chart .pie-chart {
    width: 100%;
  }
  .timezone-btns div {
    width: 100px;
    height: 100px;
    font-size: 12px;
  }
}
