.userdetails {
  border: 1px solid rgb(37, 155, 151);
  margin: 10px 5px 5px 5px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.userdetails .user-data {
  width: 40%;
}
.userdetails ul {
  list-style-type: none;
}
.username {
  font-size: 40px;
  font-family: sans-serif;
  color: dimgrey;
}
.emprole {
  margin-bottom: 175px;
}
.emprole p:nth-child(3) {
  color: rgb(136, 136, 136);
}
.emprole p:first-child {
  color: rgb(136, 136, 136);
}
/* user navbar */
.usernavbar {
  display: flex;
  align-items: baseline;
  margin-left: 90px;
}
.nav_img_container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
}
.nav_img_container img:hover {
  cursor: pointer;
}
.usernavbar p {
  margin-right: 15px;
  margin-left: 10px;
}
.active_inactive_circle {
  display: "inline-block";
  border: 1px solid white;
  padding: 8px;
  border-radius: 100%;
}
/* table design */

table {
  border: 1px solid black !important;
  width: 90%;
}
th {
  border-bottom: 1px solid rgb(66, 60, 60) !important;
  /* background-color: rgb(159, 243, 240) !important; */
}
tr {
  border-bottom: 1px solid rgb(37, 155, 151) !important;
}
tr:hover {
  background-color: #7f7f813b;
  cursor: pointer !important;
}
.user-nav-header {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px 0px 0px;
}
.user-nav-header div {
  margin-right: 4px;
}
.chat-link {
  text-align: left;
  padding: 10px;
}
.user-btns {
  display: flex;
  justify-content: center;
}
.user-btns button {
  margin-right: 5px;
}
.timings-table-header {
  position: sticky;
  top: 0;
}
