.add-user-container {
  width: 60%;
  margin: auto;
  border: 2px solid grey;
  padding: 15px;
}
.add-user-container .main-heading {
  background-color: bisque;
  border-bottom: 1px dotted black;
  border-top: 1px dotted black;
  text-align: center;
}
.add-user-container div input {
  padding: 4px;
  border-radius: 10px;
}

.dates label b,
.genders label b {
  vertical-align: middle;
}

.submit-btn {
  margin: auto;
  width: 10%;
}
